:root {
  --color-font: white;
  --color-listBackground: rgba(105, 105, 105, 0.507);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.bgImg {
  position: absolute;
  opacity: 1.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.weather {
  position: absolute;
  top: 5%;
  right: 4%;
  font-size: 200%;
  color: var(--color-font);
}
/* clock */
.js-clock {
  margin-top: 5%;
  padding-top: 30px;
}

h1 {
  color: var(--color-font);
  font-size: 400%;
  margin-bottom: 10px;
}
/* two inputs */
input,
#jsTask {
  font-size: 200%;
  text-align: center;
  background-color: transparent;
  outline: 0;
  border-style: none;
  border-bottom: var(--color-font) solid 0.5px;
  color: var(--color-font);
  padding: 0;
}

::placeholder {
  color: var(--color-font);
  opacity: 0.8;
}

.form {
  display: none;
  text-align: center;
  color: #ffffff;
}

.showing {
  display: block;
}

h4 {
  font-size: 200%;
  color: var(--color-font);
  margin: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}
/* two list boards */
#TwoLists {
  max-width: 1300px;
  max-height: 350px;
  margin-top: 3%;
  display: flex;
}
#pendingListCss {
  margin-right: 20px;
  background-color: var(--color-listBackground);
  overflow-y: scroll;
}

#finishlistCss {
  background-color: var(--color-listBackground);
  overflow-y: scroll;
}

h3 {
  font-size: 200%;
  color: var(--color-font);
  opacity: 0.38;
  margin: 0;
  margin-bottom: 3%;
}

/* 리스트 스타일 */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 1%;
  color: var(--color-font);
  font-size: 150%;
}

li button {
  margin-right: 2%;
  font-size: 90%;
  border-style: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
